@import "variables";
@import "mixins";

/* Then import all bootstrap scss */
@import "bootstrap/bootstrap";

/* Global styles */
*::selection {
    background-color: pink;
    color: #000
}

body {
    font-family: $main-font;
    color: $dark;
    background: $white url("../../assets/img/skull-wp.svg") no-repeat;
    background-position: top -73px right -20%;
    background-attachment: fixed;
}

.btn {
    text-transform: uppercase;
}

.btn-primary {
    @include btn-primary;
}

.btn-outline-primary {
    @include btn-outline-primary
}

.subtitle-h1 {
    font-size: 1.25rem; //BS h5 font-size
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 0.15rem;
}

.subtitle-h2 {
    font-size: 1.25rem; //BS h5 font-size
    font-weight: 300;
    opacity: 0.5;
    margin-top: 0;
}

#scroll-down-mouse {
    transition: 0.35s 0.012s ease-in-out;
    &.scrolled {
        opacity: 0;
        visibility: hidden;
    }
}

#mouse-wheel {
    animation: scroll ease-out 1.65s infinite;
    position: relative;
}

@keyframes scroll {
    0% {
        transform: translate(8px, 8px);
    }
    100% {
        transform: translate(8px, 18px);
        opacity: 0;
    }
}

#scroll-top-btn {
    position: fixed;
    bottom: 35px;
    right: 12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s 0.012s ease-in-out;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

#offcanvas-open-btn {
    top: 0.25rem;
    z-index: 100;
    border: none;
    transition: 0.35s;
    &:focus, &:hover {
        border: none;
        color: $primary;
    }
}

#slogan {
    top: 1.5rem
}



/* Offcanvas */
.bg-offcanvas {
    
background: rgb(16,22,33);
background: linear-gradient(355deg, rgba(16,22,33,0.55) 25%, rgba(29,38,57,1) 75%), url("../img/dark-honeycomb.png");
}

#logo-offcanvas {
    width: 180px;
}

.offcanvas {
    max-width: 456px;
}

.offcanvas .btn-close-offcanvas {
    position: absolute;
    top: 4px;
    right: 4px;
}

#main-logo {
    font-size: 8rem;
}

.offcanvas h1 {
    line-height: 1.8rem !important;
}

.fw-800 {
    font-weight: 800;
}

.deco {
    position: relative;
    &::before, &::after {
        content: "";
        border-top: 1px solid rgba($dark, 0.76);
        width: 38%;
        height: 1px;
        position: absolute;
        top: 50%;
    }
    &::after {
        right: 0;
    }
    &::before {
        left: 0;
    }
}

#copyright {
    font-size: 13px;
    font-weight: lighter;
}

@media screen and (max-width: 767px) {
    body {
        background-image: url("../img/skull-wp-sm.svg");
        background-position: center center;
    }
}

@media screen and (max-width: 413px) {
    .offcanvas {
        max-width: 348px;
    }
}

@media screen and (min-width: 1400px) {
    #logo-offcanvas {
        width: 250px;
    }
}