@import "mobile-menu";

/* Header style */
#main-header {
    z-index: 200;
    height: $header-height;
    .nav-link {
        cursor: pointer;
    }
    &.active {
        mix-blend-mode: multiply;
    }
}

.bg-header {
    background: rgb(225, 234, 251);
    background: linear-gradient(180deg, rgba(225, 234, 251, 1) 19%, rgba(225, 234, 251, 1) 68%, rgba(225, 234, 251, 0.9640231092436975) 84%, rgba(225, 234, 251, 0.9192051820728291) 100%);
}