/* Variables */
$primary: #0059FC;
$secondary: #E1EAFB;
$white: #FBFCFF;
$light: #E1EAFB;
$gray: #ABB1BC;
$dark-blue: #1D2639;
$dark: #101621;


/* Fonts */
$main-font: "Urbanist", sans-serif;
$secondary-font: "Roboto slab", serif;

/* Utilities */
$btn-border-radius: 4px;
$btn-font-weight: 600;